[Desktop Entry]
Type=Service
Comment=kdevelop_boostbuild
Comment[ast]=kdevelop_boostbuild
Comment[bg]=kdevelop_boostbuild
Comment[bs]=kdevelop_boostbuild
Comment[ca]=kdevelop_boostbuild
Comment[ca@valencia]=kdevelop_boostbuild
Comment[cs]=kdevelop_boostbuild
Comment[da]=kdevelop_boostbuild
Comment[de]=kdevelop_boostbuild
Comment[el]=kdevelop_boostbuild
Comment[en_GB]=kdevelop_boostbuild
Comment[es]=kdevelop_boostbuild
Comment[et]=kdevelop_boostbuild
Comment[fi]=kdevelop_boostbuild
Comment[fr]=kdevelop_boostbuild
Comment[ga]=kdevelop_boostbuild
Comment[gl]=kdevelop_boostbuild
Comment[hu]=kdevelop_boostbuild
Comment[it]=kdevelop_boostbuild
Comment[kk]=kdevelop_boostbuild
Comment[km]=kdevelop_boostbuild
Comment[ko]=kdevelop_boostbuild
Comment[lv]=kdevelop_boostbuild
Comment[nb]=kdevelop_boostbuild
Comment[nds]=kdevelop_boostbuild
Comment[nl]=kdevelop_boostbuild
Comment[nn]=kdevelop_boostbuild
Comment[pa]=kdevelop_boostbuild
Comment[pl]=kdevelop_boostbuild
Comment[pt]=kdevelop_boostbuild
Comment[pt_BR]=kdevelop_boostbuild
Comment[ru]=kdevelop_boostbuild
Comment[sk]=kdevelop_boostbuild
Comment[sr]=kdevelop_boostbuild
Comment[sr@ijekavian]=kdevelop_boostbuild
Comment[sr@ijekavianlatin]=kdevelop_boostbuild
Comment[sr@latin]=kdevelop_boostbuild
Comment[sv]=kdevelop_boostbuild
Comment[tr]=kdevelop_boostbuild
Comment[ug]=kdevelop_boostbuild
Comment[uk]=kdevelop_boostbuild
Comment[x-test]=xxkdevelop_boostbuildxx
Comment[zh_CN]=kdevelop_boostbuild
Comment[zh_TW]=kdevelop_boostbuild
Name=kdevelop_boostbuild
Name[ast]=kdevelop_boostbuild
Name[bg]=kdevelop_boostbuild
Name[bs]=kdevelop_boostbuild
Name[ca]=kdevelop_boostbuild
Name[ca@valencia]=kdevelop_boostbuild
Name[cs]=kdevelop_boostbuild
Name[da]=kdevelop_boostbuild
Name[de]=kdevelop_boostbuild
Name[el]=kdevelop_boostbuild
Name[en_GB]=kdevelop_boostbuild
Name[eo]=kdevelop_boostbuild
Name[es]=kdevelop_boostbuild
Name[et]=kdevelop_boostbuild
Name[fi]=kdevelop_boostbuild
Name[fr]=kdevelop_boostbuild
Name[ga]=kdevelop_boostbuild
Name[gl]=kdevelop_boostbuild
Name[hu]=kdevelop_boostbuild
Name[it]=kdevelop_boostbuild
Name[ja]=kdevelop_boostbuild
Name[kk]=kdevelop_boostbuild
Name[km]=kdevelop_boostbuild
Name[ko]=kdevelop_boostbuild
Name[lv]=kdevelop_boostbuild
Name[nb]=kdevelop_boostbuild
Name[nds]=kdevelop_boostbuild
Name[nl]=kdevelop_boostbuild
Name[nn]=kdevelop_boostbuild
Name[pa]=kdevelop_boostbuild
Name[pl]=kdevelop_boostbuild
Name[pt]=kdevelop_boostbuild
Name[pt_BR]=kdevelop_boostbuild
Name[ro]=kdevelop_boostbuild
Name[ru]=kdevelop_boostbuild
Name[sk]=kdevelop_boostbuild
Name[sq]=kdevelop_boostbuild
Name[sr]=kdevelop_boostbuild
Name[sr@ijekavian]=kdevelop_boostbuild
Name[sr@ijekavianlatin]=kdevelop_boostbuild
Name[sr@latin]=kdevelop_boostbuild
Name[sv]=kdevelop_boostbuild
Name[tr]=kdevelop_boostbuild
Name[ug]=kdevelop_boostbuild
Name[uk]=kdevelop_boostbuild
Name[x-test]=xxkdevelop_boostbuildxx
Name[zh_CN]=kdevelop_boostbuild
Name[zh_TW]=kdevelop_boostbuild
GenericName=kdevelop_boostbuild
GenericName[ast]=kdevelop_boostbuild
GenericName[bg]=kdevelop_boostbuild
GenericName[bs]=kdevelop_boostbuild
GenericName[ca]=kdevelop_boostbuild
GenericName[ca@valencia]=kdevelop_boostbuild
GenericName[cs]=kdevelop_boostbuild
GenericName[da]=kdevelop_boostbuild
GenericName[de]=kdevelop_boostbuild
GenericName[el]=kdevelop_boostbuild
GenericName[en_GB]=kdevelop_boostbuild
GenericName[es]=kdevelop_boostbuild
GenericName[et]=kdevelop_boostbuild
GenericName[fi]=kdevelop_boostbuild
GenericName[fr]=kdevelop_boostbuild
GenericName[ga]=kdevelop_boostbuild
GenericName[gl]=kdevelop_boostbuild
GenericName[hu]=kdevelop_boostbuild
GenericName[it]=kdevelop_boostbuild
GenericName[kk]=kdevelop_boostbuild
GenericName[km]=kdevelop_boostbuild
GenericName[ko]=kdevelop_boostbuild
GenericName[lv]=kdevelop_boostbuild
GenericName[nb]=kdevelop_boostbuild
GenericName[nds]=kdevelop_boostbuild
GenericName[nl]=kdevelop_boostbuild
GenericName[nn]=kdevelop_boostbuild
GenericName[pa]=kdevelop_boostbuild
GenericName[pl]=kdevelop_boostbuild
GenericName[pt]=kdevelop_boostbuild
GenericName[pt_BR]=kdevelop_boostbuild
GenericName[ru]=kdevelop_boostbuild
GenericName[sk]=kdevelop_boostbuild
GenericName[sr]=kdevelop_boostbuild
GenericName[sr@ijekavian]=kdevelop_boostbuild
GenericName[sr@ijekavianlatin]=kdevelop_boostbuild
GenericName[sr@latin]=kdevelop_boostbuild
GenericName[sv]=kdevelop_boostbuild
GenericName[tr]=kdevelop_boostbuild
GenericName[ug]=kdevelop_boostbuild
GenericName[uk]=kdevelop_boostbuild
GenericName[x-test]=xxkdevelop_boostbuildxx
GenericName[zh_CN]=kdevelop_boostbuild
GenericName[zh_TW]=kdevelop_boostbuild
Icon=gear
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevelop_boostbuild
X-KDE-PluginInfo-Name=kdevelop_boost_build
X-KDE-PluginInfo-Category=Project Management
X-KDevelop-Version=14
X-KDevelop-Category=Project
X-KDevelop-Language=BJam
X-KDevelop-Interfaces=org.kdevelop.IBuildSystemManager,org.kdevelop.IProjectFileManager,ILanguageSupport
X-KDevelop-Mode=GUI
X-KDevelop-SupportedMimeTypes=text/x-jamfile
X-KDevelop-ProjectFilesFilter=Jamroot,Jamfile,jamfile,jamroot,Jamroot.*,Jamfile.*,jamfile.*,jamroot.*
X-KDevelop-ProjectFilesFilterDescription=Jamfiles
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Website=http://kdevelop.kde.org
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-License=GPL
