[Desktop Entry]
Type=Service
Comment=kde-bjam
Comment[ast]=kde-bjam
Comment[bg]=kde-bjam
Comment[bs]=kde-bjam
Comment[ca]=kde-bjam
Comment[ca@valencia]=kde-bjam
Comment[cs]=kde-bjam
Comment[da]=kde-bjam
Comment[de]=kde-bjam
Comment[el]=kde-bjam
Comment[en_GB]=kde-bjam
Comment[es]=kde-bjam
Comment[et]=kde-bjam
Comment[fi]=kde-bjam
Comment[fr]=kde-bjam
Comment[ga]=kde-bjam
Comment[gl]=kde-bjam
Comment[hu]=kde-bjam
Comment[it]=kde-bjam
Comment[kk]=kde-bjam
Comment[km]=kde-bjam
Comment[ko]=kde-bjam
Comment[lv]=kde-bjam
Comment[nb]=kde-bjam
Comment[nds]=kde-bjam
Comment[nl]=kde-bjam
Comment[nn]=kde-bjam
Comment[pa]=kde-bjam
Comment[pl]=kde-bjam
Comment[pt]=kde-bjam
Comment[pt_BR]=kde-bjam
Comment[ru]=kde-bjam
Comment[sk]=kde-bjam
Comment[sr]=kde-bjam
Comment[sr@ijekavian]=kde-bjam
Comment[sr@ijekavianlatin]=kde-bjam
Comment[sr@latin]=kde-bjam
Comment[sv]=kde-bjam
Comment[tr]=kde-bjam
Comment[ug]=kde-bjam
Comment[uk]=kde-bjam
Comment[x-test]=xxkde-bjamxx
Comment[zh_CN]=kde-bjam
Comment[zh_TW]=kde-bjam
Name=kde-bjam
Name[ast]=kde-bjam
Name[bg]=kde-bjam
Name[bs]=kde-bjam
Name[ca]=kde-bjam
Name[ca@valencia]=kde-bjam
Name[cs]=kde-bjam
Name[da]=kde-bjam
Name[de]=kde-bjam
Name[el]=kde-bjam
Name[en_GB]=kde-bjam
Name[eo]=kde-bjam
Name[es]=kde-bjam
Name[et]=kde-bjam
Name[fi]=kde-bjam
Name[fr]=kde-bjam
Name[ga]=kde-bjam
Name[gl]=kde-bjam
Name[hu]=kde-bjam
Name[it]=kde-bjam
Name[ja]=kde-bjam
Name[kk]=kde-bjam
Name[km]=kde-bjam
Name[ko]=kde-bjam
Name[lv]=kde-bjam
Name[nb]=kde-bjam
Name[nds]=kde-bjam
Name[nl]=kde-bjam
Name[nn]=kde-bjam
Name[pa]=kde-bjam
Name[pl]=kde-bjam
Name[pt]=kde-bjam
Name[pt_BR]=kde-bjam
Name[ro]=kde-bjam
Name[ru]=kde-bjam
Name[sk]=kde-bjam
Name[sq]=kde-bjam
Name[sr]=kde-bjam
Name[sr@ijekavian]=kde-bjam
Name[sr@ijekavianlatin]=kde-bjam
Name[sr@latin]=kde-bjam
Name[sv]=kde-bjam
Name[tr]=kde-bjam
Name[ug]=kde-bjam
Name[uk]=kde-bjam
Name[x-test]=xxkde-bjamxx
Name[zh_CN]=kde-bjam
Name[zh_TW]=kde-bjam
GenericName=kde-bjam
GenericName[ast]=kde-bjam
GenericName[bg]=kde-bjam
GenericName[bs]=kde-bjam
GenericName[ca]=kde-bjam
GenericName[ca@valencia]=kde-bjam
GenericName[cs]=kde-bjam
GenericName[da]=kde-bjam
GenericName[de]=kde-bjam
GenericName[el]=kde-bjam
GenericName[en_GB]=kde-bjam
GenericName[es]=kde-bjam
GenericName[et]=kde-bjam
GenericName[fi]=kde-bjam
GenericName[fr]=kde-bjam
GenericName[ga]=kde-bjam
GenericName[gl]=kde-bjam
GenericName[hu]=kde-bjam
GenericName[it]=kde-bjam
GenericName[kk]=kde-bjam
GenericName[km]=kde-bjam
GenericName[ko]=kde-bjam
GenericName[lv]=kde-bjam
GenericName[nb]=kde-bjam
GenericName[nds]=kde-bjam
GenericName[nl]=kde-bjam
GenericName[nn]=kde-bjam
GenericName[pa]=kde-bjam
GenericName[pl]=kde-bjam
GenericName[pt]=kde-bjam
GenericName[pt_BR]=kde-bjam
GenericName[ru]=kde-bjam
GenericName[sk]=kde-bjam
GenericName[sr]=kde-bjam
GenericName[sr@ijekavian]=kde-bjam
GenericName[sr@ijekavianlatin]=kde-bjam
GenericName[sr@latin]=kde-bjam
GenericName[sv]=kde-bjam
GenericName[tr]=kde-bjam
GenericName[ug]=kde-bjam
GenericName[uk]=kde-bjam
GenericName[x-test]=xxkde-bjamxx
GenericName[zh_CN]=kde-bjam
GenericName[zh_TW]=kde-bjam
Icon=kate
ServiceTypes=KTextEditor/Plugin
X-KDE-ServiceTypes=KTextEditor/Plugin
X-KDE-Library=ktexteditor_kde-bjam
X-KDE-PluginKeyword=ktexteditor_kde-bjam
X-KDE-PluginInfo-Name=ktexteditor_kde-bjam
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Website=http://kate.kde.org
X-KDE-PluginInfo-Version=%{VERSION}
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Category=Editor
X-KDE-ParentApp=kate
X-KDE-Version=4.0
