<!DOCTYPE kpartgui>
<kpartplugin name="kdevboostbuildmanager" library="libkdevboostbuildmanager" version="2">
<MenuBar>
 <Menu name="tools"><Text>&amp;Tools</Text>
    <separator group="tools_operations" />
    <Action name="tools_kde-bjam" group="tools_operations"/>
 </Menu>
</MenuBar>
</kpartplugin>
